<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="../../assets/T2U_logo.png" alt="logo">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">TODO's rgb(251, 180, 39)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Expense Calculator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Youtube Integrator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sai Bhajans</a>
    </li>
  </ul>
</nav>

<app-main-layout></app-main-layout>

